.identity{
  min-width: 241px;
  height: 100%;
  overflow: visible;
  position: relative;

  &>div{
    display: flex;
    background: #2D313E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -6px;
    padding: 8px 10px;
    font-size: 15px;
  }
}

.details{
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #999;
}

.picture{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.name{
  font-size: 1.2em;
  color: #FFF;
}

.rating{
  span {
    margin-right: 2px;
  }
}

.starFull{
  color: #DFC55C;
}