.audit {
  &>header{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: $app-bg-color;
    box-shadow: 0px 10px 61px -6px rgba(0,0,0,0.3);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $audit-header-height;
    z-index: 50;
    padding: 12px 25px;

  }
}

.soaDropdownWrapper{
  display: flex;

  label{
    color: $color-disabled-grey;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
}

.auditContent{
  position: absolute;
  top: $audit-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background: $audit-bg-color;
  overflow: auto;
}

.headerTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editableAuditName{
  position: relative;

  input {

    &:focus{
      border-color: transparent;
      background: transparent;
      box-shadow: none;
    }

    color: $color-disabled-grey;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    width: 400px;
    margin: 0;
    padding:5px;
    margin-left: -5px;
    font-size: 1rem;
    font-weight: 300;


  }

  i{
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in-out;
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: 0.9em;
    color: $color-light-grey;
  }

  input, i{
    cursor: pointer;
  }

  &:hover input, input:focus{

    border-bottom: 1px dotted #999;

    &+i{
      visibility: visible;
      opacity: 1;
    }
  }

  input:focus, input:focus+i{
    cursor: auto;
  }
}

.progress{
  width: 200px;
}