.docDd{
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.opener{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;

  i{
    font-size: 0.85em;
    color: lighten($color-disabled-grey, 10%);
    margin-left: 8px;
  }
}

.docListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 12px;

  &:hover{
    background: #EEE;
  }

  &>i{
    font-size: 37px;
    margin-right: 12px;
    color: $color-disabled-grey;
  }
}

.documentType{
  font-size: 0.7em;
  color: $color-disabled-grey;
  font-weight: 300;
}