.documentWrapper{
  background: #FFF;
  padding: 104px 30px 150px 30px;
  margin: 30px -15px 30px 12px;
  position: relative;


  // folded corner
  // credit: http://nicolasgallagher.com/pure-css-folded-corner-effect/
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 46px 38px 0;
    border-style: solid;
    border-color: $audit-bg-color $audit-bg-color #fff #fff;
    border-bottom-left-radius: 5px;
    background: #658E15;
    display: block;
    width: 0;
    box-shadow: -2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  }
}

@include breakpoint(large) {
  .documentWrapper {
    background: #FFF;
    padding: 104px 100px 150px 120px;
    margin: 30px;
  }
}

.loadingWrapper{
  margin-top: 150px;
}

.documentMenu{
  position: absolute;
  right: 55px;
  top: 5px;
}

.documentHtml{

  font-size: 18px;

  :global{
    .font-size-small{
      font-size: 1em;
    }

    .font-size-medium{
      font-size: 1.2em;
    }

    .font-size-large{
      font-size: 1.4em;
    }
  }
}
