.app {
  &>header {
    position: relative;
    background: $header-bg-color;
    color: #FFF;
    height: $header-height;
    font-size: 0.9rem;
    z-index: 200;

    display: flex;
    align-items: center;

    >*{
      margin: 0 23px;
    }

    h1{
      margin:0;
      font-size: 1.5em;
    }
    
    a{
      color: #FFF;
    }

  }
  main {
    position: fixed;
    top: $header-height;
    left: 65px;
    bottom: 0;
    right: 0;
    background: $app-bg-color;
    padding: $main-vpadding $main-hpadding;
    overflow: auto;
  }
}

.fillHeader{
  flex: 1;
}

.helpIcon{
  font-size: 28px;
}

.signOut{
  font-size: 17px;
  cursor: pointer;
}