.searchbar{

  width: 505px;
  max-width: 100%;
  margin: auto;
  position: relative;

  input{

    margin: 0;
    border-radius: 5px;
    background-color: lighten($header-bg-color, 10%);
    border-color: darken($header-bg-color, 5%);

    &+i{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      opacity: 0.5;
    }

  }

}