$sb-icon-font-size: 25px;
$sb-width: 235px;
$sb-closed-width: 65px;
$sb-bg-color: #2D323F;

.sideBar{
  background: $sb-bg-color;
  width: $sb-closed-width;
  transition: all 0.2s;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 85px;
  z-index: 1000000;

  &>ul{

    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;

    li{
      a{
        color: #BBC0C8;
        font-size: 16px;
        background: $sb-bg-color;
        display: block;
        padding: 10px 0;
        transition: .4s ease-in-out;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        &:hover{
          background: lighten($sb-bg-color, 10%);
        }
      }
    }
  }

  &:hover{
    width: $sb-width;
  }
}

.opened{
  width: $sb-width;
}

.menuIcon{
  width: $sb-closed-width;
  display: inline-block;
  text-align: center;
  font-size: $sb-icon-font-size;
}