<!-- app/views/pages/home.html.erb -->
<div id='documents' data-starting-document-id='<%= @first_document_id %>'></div>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'documents' %>