$header-bg-color: #317ABE;

$app-bg-color: #E0E3E5;

$header-height: 75px;

$main-hpadding: 40px;
$main-vpadding: 35px;


$color-disabled-grey: #66666E;
$color-light-grey: #66666E;
$color-lighter-grey: #9999a3;

// audit
$audit-header-height: 123px;
$audit-bg-color: darken($app-bg-color, 8%);


// menu
$menu-active-font-color: #3787D3;