$header-bg-color: #317ABE;

$app-bg-color: #E0E3E5;

$header-height: 75px;

$main-hpadding: 40px;
$main-vpadding: 35px;

$audit-header-height: 123px;

$color-disabled-grey: #66666E;
$color-light-grey: #66666E;
