# see http://EditorConfig.org

root = true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
insert_final_newline = false

[*.json]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2