$doc-dd-box-right-offset: 20px;
$doc-dd-box-right-offset-large: 70px;
$doc-dd-box-arrow-width: 25px;
$doc-dd-box-arrow-height: 13px;


.box {
  position: absolute;
  left: -50px;
  right: -$doc-dd-box-right-offset;
  top: 100%;
  top: calc(100% + 8px);
  background: #FFF;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.32);
}



.boxArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $doc-dd-box-arrow-width/2 $doc-dd-box-arrow-height $doc-dd-box-arrow-width/2;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -$doc-dd-box-arrow-height;
  right: $doc-dd-box-right-offset - 6px;
}

.larger{
  right: -$doc-dd-box-right-offset-large;

    .boxArrow{
      right: $doc-dd-box-right-offset-large - 6px;
    }
}